In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Exercícios Cap02

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [2]:
lista = [1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [5]:
lista2 = ["el1", "el2", "el3", "el4", "el5"] 
print(lista2)

['el1', 'el2', 'el3', 'el4', 'el5']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [9]:
nome1 = " Ananda"
nome2 = " Karen"
nome3 = "Meu nome e:"

nome3 = nome3 + nome1 + nome2
print(nome3)

Meu nome e: Ananda Karen

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [13]:
tp = (1, 2, 2, 3, 4, 4, 4, 5)
qtd = tp.count(4)
print(qtd)

3

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [16]:
dict = {}
print(dict)

{}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [20]:
dict2 = {"Morango":1, "Chocolade":2, "Baunilha":3}
print(dict2)

{'Morango': 1, 'Chocolade': 2, 'Baunilha': 3}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [25]:
dict2 = {"Morango":1, "Chocolade":2, "Baunilha":3}
dict2["Creme"] = 4
print(dict2)

{'Morango': 1, 'Chocolade': 2, 'Baunilha': 3, 'Creme': 4}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [27]:
dict3 = {"Morango":1, "Chocolate":2, "Baunilha":[8,9]}
print(dict3)

{'Morango': 1, 'Chocolate': 2, 'Baunilha': [8, 9]}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [28]:
lista3 = ["Olá", (2,4), {"Morango":1, "Chocolate":2}, 9.0]
print(lista3)

['Olá', (2, 4), {'Morango': 1, 'Chocolate': 2}, 9.0]

In [ ]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [31]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
print(frase[:18])

Cientista de Dados

# Fim